[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

kaptan = "==0.5.9"
pyyaml = "==3.12"
click = "==6.7"
colorama = "==0.3.9"
libvcs = "==0.2.3"
alagitpull = "==0.0.19"
mock = "==2.0.0"
pytest = "==3.4.0"
releases = "==1.4.0"
sphinx = "==1.7.0"


[packages]
"e1839a8" = {path = ".", editable = true}
