[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
kaptan = "<1,>=0.5.9"
click = "==7.0"
colorama = "==0.4.1"
libvcs = "==0.3.0"
alagitpull = "==0.0.22"
Sphinx = "==2.0.1"
flake8 = "==3.7.7"
isort = "==4.3.18"
mock = "==2.0.0"
pytest = "==4.4.1"
vcspull = {editable = true,path = "."}

[packages]
kaptan = ">=0.5.9,<1"
click = "==7.0"
colorama = "==0.4.1"
libvcs = "==0.3.0"

[requires]
python_version = "3"
