[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
alagitpull = "*"
Sphinx = "*"
flake8 = "*"
isort = "*"
mock = "*"
pytest = "*"
vcspull = {path = ".",editable = true}
black = "==19.3b0"
sphinx-issues = "*"

[packages]
kaptan = "<1"
click = ">=7<8"
colorama = "*"
libvcs = "==0.3.0"
pytest-cov = "*"
coverage = "*"

[requires]
python_version = "3"
